/* common style */
body{
font-family: 'Poppins', sans-serif;
}
/* card-style */

.card-radius{
      border-style: none;
}

.card-border{
     border-radius: 30px;    
}

/* image style */
.images{
    width:auto;
    height: 584px;
}
/* footer style */

.footer{
    height: 150px;
}